html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

canvas {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%; 
}

